/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #abb1a5;
  --color-secondary: #182126;
  --color-tertiary: #0b0d0d;
}
