main {
  background-image: url("../../assets/images/Background_mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100dvh - 220px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 40px;
  max-width: 520px;
}

h2 {
  color: var(--color-primary);
  font-family: "fugaz one";
  font-size: 2em;
}

main p {
  color: var(--color-primary);
  max-width: 500px;
  text-align: start;
  margin: 0 20px;
}

.breadcrumbs {
  align-self: flex-start;
}

@media screen and (min-width: 800px) {
  main {
    background-image: url("../../assets/images/Background_desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 150px);
  }
}
