.order_summary_box {
  background-color: var(--color-primary);
  border-radius: 25px;
  padding: 20px 0;
  width: 350px;
}

.order_summary_box_product_image img {
  width: 100px;
  height: 100px;
}

.order_summary_box_summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
}

.order_summary_box_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order_summary_box_total {
  font-weight: 600;
  font-size: 1.2em;
}

h2 {
  font-weight: 600;
  padding: 5px 20px;
}

.back_home_box {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  border-radius: 25px;
  padding: 30px;
  width: 350px;
  gap: 30px;
}

main a {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 10px;
  align-self: center;
  padding: 10px 40px;
  font-size: 1.5em;
  font-weight: bold;
}

main h1 {
  color: var(--color-primary);
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px 0;
}

@media screen and (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: start;
    align-content: center;
    gap: 60px;
  }

  h1 {
    grid-area: 1/1/2/3;
    justify-self: center;
  }

  .back_home_box {
    grid-area: 2/1/3/2;
    width: 400px;
    gap: 60px;
  }

  .back_home_box {
    font-size: 1.2em;
  }

  .order_summary_box {
    grid-area: 2/2/3/3;
    width: 400px;
  }
}
