form {
  background-color: var(--color-primary);
  border-radius: 25px;
}

form h2 {
  font-weight: 600;
}

button {
  color: var(--color-tertiary);
  background-color: #9aa680;
}

button {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
