.shopping_cart_box {
  background-color: var(--color-primary);
  border-radius: 25px;
  padding: 20px 0;
  width: 300px;
}

.shopping_cart_box_product_image img {
  width: 100px;
  height: 100px;
}

.shopping_cart_box_summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
}

.shopping_cart_box_icon_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
}

.shopping_cart_box_icon_name .icons {
  height: 25px;
  width: 25px;
}

.shopping_cart_box_icon_name h2 {
  font-weight: 600;
}

.shopping_cart_box_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shopping_cart_box_total {
  font-weight: 600;
  font-size: 1.2em;
}

form {
  background-color: var(--color-primary);
  border-radius: 25px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  padding: 20px;
  justify-content: center;
  width: 300px;
}

form > * {
  width: 100%;
}

form h2 {
  font-weight: 600;
}

.button {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  padding: 15px 40px;
  grid-area: 16/1/17/5;
  justify-self: center;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

input {
  border: 2px solid var(--color-tertiary);
  border-radius: 5px;
  height: 40px;
}

.contact {
  grid-area: 1/1/2/5;
}

#email {
  grid-area: 2/1/3/5;
}

.delivery {
  grid-area: 3/1/4/5;
}

#fname {
  grid-area: 4/1/5/3;
}

#lname {
  grid-area: 4/3/5/5;
}

#adress {
  grid-area: 5/1/6/5;
}

#city {
  grid-area: 6/1/7/3;
}

#zip_code {
  grid-area: 6/3/7/5;
}

#contry_phone_code {
  grid-area: 7/1/8/2;
}

#phone_number {
  grid-area: 7/2/8/5;
}

.shipping {
  grid-area: 8/1/9/5;
}

.shipping_free {
  grid-area: 9/1/10/5;
}

.shipping_standard {
  grid-area: 10/1/11/5;
}

.shipping_express {
  grid-area: 11/1/12/5;
}

.payment {
  grid-area: 12/1/13/5;
}

#card_number {
  grid-area: 13/1/14/5;
}

#exp_date {
  grid-area: 14/1/15/3;
}

#security_code {
  grid-area: 14/3/15/5;
}

#card_name {
  grid-area: 15/1/16/5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 60px 0;
}

.shipping_options {
  background-color: rgba(217, 217, 217, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 8px;
  height: 40px;
  justify-content: space-between;
}

.shipping_options input {
  width: 18px;
  height: 18px;
  accent-color: rgba(217, 217, 217, 0.3);
}

.shipping_options label {
  flex-grow: 1;
}

span {
  align-self: center;
}

#free {
  border: 2px solid var(--color-tertiary);
}

@media screen and (min-width: 800px) {
  main {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .shopping_cart_box {
    align-self: flex-start;
  }

  form {
    width: 380px;
  }

  .shopping_cart_box {
    width: 380px;
  }
}
