.product_card {
  background-color: var(--color-primary);
  border-radius: 20px;
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  padding: 20px;
  position: relative;
  box-shadow: 16px 24px 4px 0 rgba(0, 0, 0, 0.25);
}

.product_card_cta {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  padding: 10px 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  align-self: center;
}

.product_card img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.heart {
  position: absolute;
  right: 20px;
  top: 15px;
  height: 35px;
  width: 35px;
}

.product_card_price {
  font-weight: 500;
  font-size: 1.5em;
}

.product_card_name {
  grid-column: 1/3;
  font-weight: bold;
  font-size: 1.5em;
}

.product_card_photo {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 260px;
  height: 260px;
}

.products_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 40px;
  justify-content: center;
  margin: 50px 20px;
}
