main span {
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  display: inline-block;
  min-width: 40px;
  text-align: center;
}

main h2 {
  color: var(--color-primary);
  font-size: 2em;
  font-style: bold;
}

main p {
  color: var(--color-primary);
  max-width: 420px;
}

.cta_add_cart {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 40px;
  padding: 15px 40px;
  font-size: 2em;
  font-weight: bold;
  align-self: center;
}

.product {
  display: flex;
  flex-direction: column-reverse;
  margin: 75px 0;
  justify-content: center;
  gap: 50px;
  align-items: stretch;
}

.product_images-inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.product_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.big {
  max-width: 412px;
  max-height: 400px;
}

.small {
  max-width: 100px;
  max-height: 100px;
}

.size {
  font-weight: bold;
}

.product_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.price {
  font-weight: bold;
  font-size: 1.5em;
}

.marked {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.product_description {
  margin: 10px 10px;
  text-align: center;
}

@media screen and (min-width: 800px) {
  main a {
    align-self: self-start;
  }

  .product_images-inline {
    flex-direction: column;
    gap: 20px;
  }

  .product_images {
    flex-direction: row-reverse;
  }

  .product {
    flex-direction: row-reverse;
  }

  .product_detail {
    align-items: start;
  }

  .product_description {
    margin: 10px 0px;
    text-align: start;
  }
}
