/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  background-color: red;
  height: 150px;
}

.img_container img {
  height: 100%;
}

header nav {
  display: none;
}
