/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */
@import url("./fonts.css");

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-secondary);
  font-family: "signika negative";
}

.coming_soon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-primary);
  font-size: 50px;
}

.coming_soon h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-tertiary);
}

header {
  display: flex;
  background-color: var(--color-primary);
  height: 150px;
  justify-content: center;
  padding: 15px;
  font-weight: 600;
}

.img_container img,
.img_container {
  height: 100%;
}

header nav {
  display: none;
}

.footer-desktop {
  display: none;
}

.footer-mobile {
  display: flex;
  background-color: var(--color-primary);
  height: 70px;
  padding: 15px;
  justify-content: center;
}

.footer-mobile > * {
  flex: 1;
}

.footer-mobile nav li {
  display: inline;
}

.footer-mobile nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 40px;
}

.icons {
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 750px) {
  header {
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
  }

  header nav {
    display: block;
  }

  header a {
    font-size: 30px;
  }

  header nav li {
    display: inline;
  }

  header nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .footer-mobile {
    display: none;
  }

  .footer-desktop {
    display: flex;
    background-color: var(--color-primary);
    padding: 15px 30px;
    justify-content: space-between;
  }

  .footer-desktop nav {
    display: flex;
    text-decoration: none;
  }

  .footer-desktop ul {
    margin: 0;
  }

  .footer-desktop li {
    display: block;
    font-size: 14px;
    margin: 5px;
  }

  .footer-desktop h3 {
    margin: 0;
  }

  .footer-desktop img {
    height: 100px;
  }
}
